<template>
  <div>
    <button>First</button>
    <div v-roving-tab-index="test">
      <button>Haha</button>
      <input type="text" />
      <p>Something goes here <span tabindex="0">yes</span></p>
      <ul>
        <li v-for="count in buttonsCount" :key="count">
          <button>{{ "Yo".repeat(count) }}</button>
        </li>
      </ul>
    </div>
    <button>Second</button>
    <div v-roving-tab-index:manual>
      <input type="text" data-focusable />
      <ul>
        <li>
          <label><input type="radio" name="yo" data-focusable />Yo</label>
        </li>
        <li>
          <label><input type="radio" name="yo" data-focusable />Yo 2</label>
        </li>
        <li>
          <label><input type="radio" name="yo" data-focusable />Yo 3</label>
        </li>
      </ul>
    </div>
    <button>Last</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      buttonsCount: 5
    };
  },
  methods: {
    test(e) {
      e.style.background = "coral";
    }
  }
};
</script>
