<template>
  <div>
    <roving-tab-index-example />
<!--    <functional-component>-->
<!--      <div>-->
<!--        <div data-focusable>-->
<!--          Yo <span><input type="text" data-focusable/></span>-->
<!--        </div>-->
<!--        <input v-for="n in inputsLength" :key="n" type="text" data-focusable />-->
<!--        <button @click="inputsLength += 1">Add input</button>-->
<!--      </div>-->
<!--    </functional-component>-->
<!--    <functional-component2><span>Yo</span></functional-component2>-->
  </div>
</template>

<script>
import RovingTabIndexExample from "./components/RovingTabIndexExample.vue";
import FunctionalComponent from "./components/FunctionalComponent.vue";
import FunctionalComponent2 from "./components/FunctionalComponent2.vue";

export default {
  name: "App",
  components: {
    FunctionalComponent,
    FunctionalComponent2,
    RovingTabIndexExample
  },
  data() {
    return {
      inputsLength: 3
    };
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
/* .focus {
  outline: 4px dotted #e73;
} */
</style>
